<h1>StaticPages#help</h1>
<p>
The STEPS Project is an open source initiative. We host our code on Github. <a href="https://github.com/wizkid686/STEPS-Project"><em>Check out our repository!</em></a>
</p>
