<% provide(:title, "Home") %>
<h1>STEPS Project HOME</h1>
<p>
  This is the home page for the STEPS project, a Rails application designed to streamline the process of creating and managing student passes in an innovative approach.
</p>
