<div class="center jumbotron">
<h1>STEPS Project HOME</h1>
<h2>
  This is the home page for the STEPS project, a Rails application designed to streamline the process of creating and managing student passes in an innovative approach.
</h2>

<h2>
  We are currently looking at opening our application for a closed beta at select <a href="http://www.sdhc.k12.fl.us">Hillsborough County Public Schools</a> for grades 8-12. If you would like to request your school to be added to the beta, please visit the Contact page and send us a message regarding adding your school to the beta.
</h2>
<%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails logo"), 'http://rubyonrails.org/' %>
