<% provide(:title, 'Log In') %>
<h1>Log In</h1>
  <div class="well center">
  <h3>
    Follow the links below to create a new account or sign into an existing account.
  </h3>
  <%= render 'shared/login_register_links' %>
</div>
