<% provide(:title, "News") %>
<h1>News and Updates on Our Website!</h1>
<p>
	Currently, our design team, Logan Kane, Ben Simon, and Alex Hoang are working hard to bring our website to full functionality before its official release. If interested in our progress, you can check out our open-source code repository at 
	<a href="http://github.com/wizkid686/STEPS-Project><em>Github</em></a>.
	 Future updates will be posted until May where hopefully the website should be fully operationaland ready for handling the next generation in pass-making technology.
</p>

