<% provide(:title, 'All users') %>
<h1>All users</h1>
<div class="center-block">
  <table id="users" class="table table-hover table-striped table-bordered">
    <thead>
      <tr>
        <th></th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Subject Area</th>
        <th>Instructional Level</th>
        <th>Location</th>
        <th>School Name</th>
      </tr>
    </thead>
    <tbody>
      <%= render @users %>
    </tbody>
  </table>
</div>
