<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>
<p>This is the sign-up page for new teachers at participating instituions
to create a new account. New admin accounts for the institution can be created
by contacting the STEPS Prject team.
</p>
<p>
In order for registration to be successful, your institution must be registered
with The STEPS Project. To register your institution with the project, please
contact the STEPS Project team.
</p>
