<% if current_user.courses.any? %>
<p>
 If you need to add additional courses, click the button below. Remember, you can only assign one class to each period. Don't add courses for periods you are not teaching. 
</p>

<p>
<%= link_to "Start a New Course", new_course_path, class: "btn btn-primary" %>
</p>
<% end %>
