      <div class="center-block">
        <table id="courses" class="table table-hover table-striped table-bordered">
          <thead>
            <tr>
              <th>Period</th>
              <th>Course Name</th>
              <th>Course Sequence Number</th>
              <% if @user == current_user %>
                <th>Manage Course</th>
              <% end %>
            </tr>
          </thead>
          <tbody>
            <%= render @courses %>
          </tbody>
        </table>
      </div>
