<div class="col-md-8 center well">
  <h2>My Dashboard</h2>
  <% if current_user.courses.any? %>
    <h3>My Courses (<%= current_user.courses.count %>)</h3>
    <%= render 'shared/course_list' %>
  <% else %>
    <h3>No Courses Found</h3>
    <p>
      <%= current_user.first_name %>! You haven't made any courses yet.
    </p>
    <p>
      When you're ready, <%= link_to "Click Here", new_course_path %> to start a new course.
    </p>
  <% end %>
  </div>

