  <h2>My Dashboard</h2>
  <% if current_student.courses.any? %>
    <h3>My Courses (<%= current_student.courses.count %>)</h3>
    <%= render 'shared/course_list' %>
  <% else %>
    <h3>No Courses Found</h3>
    <p>
      You are not currently enrolled in any courses.
    </p>
    <p>
      When you're ready, <%= link_to "Click Here", new_course_path %> to enroll in a course.
    </p>
  <% end %>
