<h1>Create New Course</h1>
<div class="row">
  <div class="col-md-6 col-md-offser-3">
    <%= form_for(@course) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
        <div class="form-group field">
          <%= f.label :course_name %>
          <%= f.text_field :course_name, placeholder: "Name of Course", autofocus: true, class: "form-control" %>
        </div>
    <% end %>
  </div>
</div>
