<footer class="footer">
  <small>
    The <a href="https://github.com/wizkid686/STEPS-Project">STEPS Project</a>
    by <a href="#">Edu Engineering Ltd.</a>, a subsidiary of <a href="http://middleton.mysdhc.org">MMHSSBC Inc.</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><%= link_to "News", news_path %></li>
    </ul>
  </nav>
</footer>
